*{
    padding:0px;
    margin:0px;
}
/*窗体 1.背景颜色  2.背景图片 左上角*/
body{
    background-color:#a13838;
    background-image:url(../img/bg1.png);
    background-repeat:no-repeat;

}
#dshow{
    width:294px;
    height:294px;
    background-image:url(../img/arrow.png);
    background-repeat:no-repeat;
    position:absolute;
    top:100px;
    left:180px;
}